
profiles {
  
    standard {
	singularity {
	    enabled = true
        }
    }
  
    sanger_local {
	
	docker {
	    enabled = false
        }
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
        }
        process {
            errorStrategy = {task.attempt <= 1 ? "retry" : "terminate"}
            maxRetries = 1
			
	        withName:SelectVariants {
	        memory = {4000.MB * task.attempt}
	        container = 'us.gcr.io/broad-gotc-prod/malariagen/sampleselectvariants:1.0'
	        }

	        withName:BgzipAndTabix {
	        memory = {4000.MB * task.attempt}
	        container = 'us.gcr.io/broad-gotc-prod/malariagen/bcftools:1.11'
	        }

	        withName:WhatsHapPhase {
	        memory = {32000.MB * task.attempt}
	        container = 'us.gcr.io/broad-gotc-prod/malariagen/whatshap:1.0'
	        }
   
	        withName:Tabix {
	        memory = {4000.MB * task.attempt}
	        container = 'us.gcr.io/broad-gotc-prod/malariagen/bcftools:1.11'
	        }
 
	        withName:WhatsHapStats {
	        memory = {8000.MB * task.attempt}
	        container = 'us.gcr.io/broad-gotc-prod/malariagen/whatshap:1.0'
	        }

	        withName:MergeVcfs {
	        memory = {4000.MB * task.attempt}
	        container = 'us.gcr.io/broad-gotc-prod/malariagen/bcftools:1.11'
	        }

            withName:BgzipAndTabixII {
            memory = {4000.MB * task.attempt}
            container = 'us.gcr.io/broad-gotc-prod/malariagen/bcftools:1.11'
            }

	        withName:SHAPEIT {
	        memory = {16000.MB * task.attempt}
	        container = 'us.gcr.io/broad-gotc-prod/malariagen/shapeit4:4.2.1'
            }

            withName:TabixII {
            memory = {4000.MB * task.attempt}
            container = 'us.gcr.io/broad-gotc-prod/malariagen/bcftools:1.11'
            }

            withName:LigateRegions {
            memory = {16000.MB * task.attempt}
            container = 'us.gcr.io/broad-gotc-prod/malariagen/bcftoolspython:1.11'
            }
			
	        withName:cohortVcfToZarr {
	        memory = {8000.MB * task.attempt}
	        container = 'us.gcr.io/broad-gotc-prod/malariagen/cohortvcftozarr:1.1'
	        }	
        }
        executor {
            name="local"
            cpus=16
            memory="60GB"
        }
    }
}
